<!DOCTYPE html>
<html>
    <head>
        <title>Product Catalog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header><h1>Product Catalog</h1></header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/allproducts">All Products</a></li>
            </ul>
        </nav>
    </body>
</html>
