<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">   
    <head>
        <title>Product Catalog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header><h1>Product Catalog</h1></header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/allproducts">All Products</a></li>
            </ul>
        </nav>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Product</th>
                        <th>Brand</th>
                        <th>Price</th>
                    </tr>
                </thead>
            </table>
        </main>
    </body>
</html>
